*
{
	margin:0px;
	padding:0px;
}
body
{
	background-color:#92bde7;
}

#all
{
	margin-left: 215px;
	margin-right: 215px;	
	width: 850px;
	height: 700px;
	background-color: red;
}

#header
{
	width:850px;
	height: 95px;
	background-color:#a8b8d0;
  position:fixed;
  
}

#body
{
	width: 850px;
	height: 500px;
	background-color: yellow;
}

#bodyleft
{
	margin-top: 90px;
	float: left;
	width: 400px;
	height: 650px;
  background-color: white;	
  
}

#bodyright
{
	margin-top: 90px;
	float: right;
	width: 450px;
	height: 650px;
	background-color:#c9e6ff;	
}

span
{
	color:#887a89;
	color: white;	
}

h1
{
  margin: 10px;
	font-size: 60px;
  color: rgb(42, 118, 148);
  text-shadow: 5px 4px 15px rgb(46, 45, 45);
}

#email{

  margin: 5px;
  color: rgb(7, 6, 59);
}

h2
{ margin-left: 10px;
	color:#a8b8d0;
}

h3
{
	color: #6d9ee8;
}

h4
{
	color: #8192aa;
}

img
{
	width: 380px;
	height: 300px;
}

#area1, #area2 , #area3, #area4
{
	display: inline;
}

#area1
{
	display :inline;
}











/*body
{
	background-color:#6e97c0;
}

.div1 {
    background-color: rgb(166, 209, 209);
    width: 400px;
    padding: 25px;
   margin-left: 25px;
    box-shadow: 2px;
    display: inline-block;
  }

  img
  {
   height: 300px;
width: 350px;
padding: 25px;
  }


  .ada
  {
      margin: 25px;
   color: rgb(49, 48, 48);
   font-weight: bold;
   text-shadow: 2px;
  }

  #para
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(9, 56, 87);
    font-weight: bold;


  }

  #inside
  {  
      font-family: sans-serif;
      font-size: 15px;
  }

  .div2
  { background-color: rgb(253, 252, 207);
    
    width: 600px;
    padding: 25px;

    display: inline-block;

  }

  form
  {


  }*/